* {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html {
  background-color: #eee;
  width: 1070px;
  margin: auto;
}

.blue {
  color: #3aa2d0;
}

.svg {
  top: 150px;
  position: absolute;
  z-index: 0;
  transition: opacity 1.5s ease;
  left: 0;
}

svg {
  padding-left: 100px;
}

.info-block {
  top: 0;
  padding: 0 1% 1.5%;
  margin: 0 0 10px;
  width: 97.7%;
  box-shadow: 3px 4px 25px -5px #666;
  border: 2px solid #3aa2d0;
  background-color: #fff;
  display: none;
  z-index: 10;
  position: relative;
  transition: height 0.1s;
}

.info-block > h2 {
  text-align: left;
  padding-left: 9px;
  margin-top: 5px;
  position: relative;
}

.info-block > p {
  width: 186px;
  float: left;
  height: 0px;
  margin: 9px;
  font-size: 13px;
}

.info-block > .feature {
  cursor: pointer;
}

.percentile {
  border: 1px solid #08519c;
  padding: 0;
  margin-right: 3px;
  height: 17px;
  width: auto;
  display: inline-block;
  text-align: center;
  min-width: 13px;
}

.rank {
  width: auto;
  border: 1px solid #08519c;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  height: 48px;
  margin: -16px 5px 0 -16px;
  position: relative;
  top: 0;
  min-width: 52px;
  padding-right: 5px;
}

.rank > span {
  font-size: 20px;
  position: relative;
  top: -16px;
  left: 2px;
}

.feature-info-text {
  position: relative;
  top: -7px;
  display: inline-block;
  width: 925px;
}

#feature-info {
  width: 95%;
  margin: -15px 1% 0; 
  height: 17px;
  border: 1px solid #08519c;
  border-radius: 2px;
  padding: 1.5%;
}

#feature-info > .rank-width {
  position: absolute;
  width: 0;
  height: 48px;
  top: 44px;
  left: 22px;
  background-color: #b6dcee;
  transition: width 0.2s ease;
}

#category-select {
  position: absolute;
  right: 50px;
  top: 11px;
  font-size: 16px;
}

#feature-select {
  position: absolute;
  left: 160px;
  top: 15px;
  font-size: 16px;
}

#select-category-text {
  position: absolute;
  right: 115px;
  top: 0;
  font-size: 18px;
  color: #08519c;
  font-weight: bold;
}

#select-feature-text {
  position: absolute;
  left: 15px;
  top: -5px;
  font-size: 18px;
  color: #08519c;
  font-weight: bold;  
}

.maps {
  position: relative;
  display: block;
}

#main-title {
  position: absolute;
  top: -16px;
  left: 5px;
}

#graph-title {
  display: inline;
  width: auto;
  padding: 15px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #08519c;
  color: #fff;
  border: 5px solid #3aa2d0;
  position: absolute;
  top: 50px;
  font-size: 20px;
}

#county-name {
  left: 740px;
  color: #08519c;
  position: absolute;
  top: 160px;

}

#close-info {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: -2px;
  right: 10px;
}

#feature-box-close {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

ul {
  list-style-type: none;
}

.feature-box {
  position: absolute;
  width: 650px;
  height: auto;
  background-color: #fff;
  border: 2px solid #3aa2d0;
  padding: 5px 8px;
  margin-top: 5px;
  box-shadow: 3px 4px 25px -5px #666;
  z-index: 101;
  top: 31px;
  right: 0;
  display: none;
}

.features_list {
  float: right;
  text-align: center;
  border-radius: 5px;
  width: 650px;
  clear: both;
  font-size: 13px;
}

.features_list > li {
  height: 20px;
  float: left;
  cursor: pointer !important;
  width: 160px;
}

#feature-desc {
  float: left;
  clear: both;
  margin-top: 125px;
  position: absolute;
  margin-left: 3px;
  z-index: -10;
}

.magical {
  color: #7f0000;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

#use-block {
  clear: both;
  float: right;
  width: 650px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #3aa2d0;
  padding: 5px 8px;
  box-shadow: 3px 4px 25px -5px #666;
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
}


#use-block > b {
  font-size: 18px;
}

#use-block > b:last-child {
  font-size: 16px;
}

.menu-bar {
  float: right;
  height: 20px;
  padding: 3px;
  width: 120px;
  text-align: center;
  color: #08519c;
  font-weight: bold;
  box-shadow: 3px 4px 25px -5px #666;
  border: 2px solid #3aa2d0;
  background-color: #fff;
  cursor: pointer;
  margin-right: 5px;
  z-index: 10;
}

#switch-colors {
  margin-right: 0;
}

#search-div {
  width: 340px;
  height: auto;
  float: right;
  top: 40px;
  background: #fff;
  box-shadow: 3px 4px 25px -5px #666;
  display: none;
  position: absolute;
  z-index: 10;
  right: 160px;
}

#show-party {
  float: right;
  height: 20px;
  padding: 3px;
  width: 120px;
  text-align: center;
  color: #08519c;
  font-weight: bold;
  box-shadow: 3px 4px 25px -5px #666;
  border: 2px solid #3aa2d0;
  background-color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

#search-bar {
  height: 30px;
  margin: 0 auto;
}

#search-input {
  width: 97%;
  height: 33px;
  border: none;
  font-size: 25px;
  padding-left: 3%;
}

#search-input:focus {
  outline: none;
}

#search-results {
  width: 95%;
  height: auto;
}

#close-search {
  float: right;
  margin-right: -2px;
  display: block;
  margin-top: 5px;
  font-size: 21px;
  color: #3aa2d0;
  cursor: pointer;
}

.search-result {
  padding: 0 10px;
  height: 10px;
  cursor: pointer;
}


#ajax-loader {
  position: absolute;
  top: 300px;
  left: 450px;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  z-index: 100;
}

.switch {
  position: relative;
  height: 33px;
  width: 198px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  margin: 5px 0 0 450px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 92px;
  line-height: 26px;
  font-size: 19px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off, .switch-label-on {
  padding-left: 2px;
  padding-top: 5px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 100px;
  height: 25px;
  margin-top: 2px;}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 93px;
  height: 27px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

#legend-div {
  position: absolute;
  left: -10px;
  width: 30px;
  height: auto;
  top: 200px;
  padding: 10px;
  z-index: 10000;
}

.legends {
  cursor: pointer !important;
}

#high-legend  {
  height: auto;
  width: 100px;
  clear: both;
  color: #000;
  text-align: left;
  z-index: 100;
  position: absolute;
  top: -12px;
  left: 45px;
}

#low-legend  {
  height: 22px;
  width: 100px;
  clear: both;
  color: #000;
  text-align: left;
  z-index: 100;
  position: absolute;
  bottom: 8px;
  left: 45px;
}

.legend-box {
  height: 25px;
  width: 25px;
  clear: both;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
}

/* BLACK AND WHITE 
/*b&w*/
.b0 { background-color: #fff; fill:#fff; transition: fill .02s ease;}
.b1 { background-color: #dfdfdf; fill:#dfdfdf; transition: fill .02s ease;}
.b2 { background-color: #bfbfbf; fill:#bfbfbf; transition: fill .02s ease;}
.b3 { background-color: #9f9f9f; fill:#9f9f9f; transition: fill .02s ease;}
.b4 { background-color: #7f7f7f; fill:#7f7f7f; transition: fill .02s ease;}
.b5 { background-color: #5f5f5f; fill:#5f5f5f; transition: fill .02s ease;}
.b6 { background-color: #3f3f3f; fill:#3f3f3f; transition: fill .02s ease;}
.b7 { background-color: #1f1f1f; fill:#1f1f1f; transition: fill .02s ease;}
.b8 { background-color: #000; fill:#000; transition: fill .02s ease;}

/*purple*/
.b0.color_purple { background-color: #fcfbfd; fill:#fcfbfd; transition: fill .1s ease;}
.b1.color_purple { background-color: #efedf5; fill:#efedf5; transition: fill .1s ease;}
.b2.color_purple { background-color: #dadaeb; fill:#dadaeb; transition: fill .1s ease;}
.b3.color_purple { background-color: #bcbddc; fill:#bcbddc; transition: fill .1s ease;}
.b4.color_purple { background-color: #9e9ac8; fill:#9e9ac8; transition: fill .1s ease;}
.b5.color_purple { background-color: #807dba; fill:#807dba; transition: fill .1s ease;}
.b6.color_purple { background-color: #6a51a3; fill:#6a51a3; transition: fill .1s ease;}
.b7.color_purple { background-color: #54278f; fill:#54278f; transition: fill .1s ease;}
.b8.color_purple { background-color: #3f007d; fill:#3f007d; transition: fill .1s ease;}

/*green*/
.b0.color_green { background-color: #f7fcfd; fill:#f7fcfd; transition: fill .1s ease;}
.b1.color_green { background-color: #e5f5f9; fill:#e5f5f9; transition: fill .1s ease;}
.b2.color_green { background-color: #ccece6; fill:#ccece6; transition: fill .1s ease;}
.b3.color_green { background-color: #99d8c9; fill:#99d8c9; transition: fill .1s ease;}
.b4.color_green { background-color: #66c2a4; fill:#66c2a4; transition: fill .1s ease;}
.b5.color_green { background-color: #41ae76; fill:#41ae76; transition: fill .1s ease;}
.b6.color_green { background-color: #238b45; fill:#238b45; transition: fill .1s ease;}
.b7.color_green { background-color: #006d2c; fill:#006d2c; transition: fill .1s ease;}
.b8.color_green { background-color: #00441b; fill:#00441b; transition: fill .1s ease;}

/*orange*/
.b0.color_orange { background-color: #fff5eb; fill:#fff5eb; transition: fill .1s ease;}
.b1.color_orange { background-color: #fee6ce; fill:#fee6ce; transition: fill .1s ease;}
.b2.color_orange { background-color: #fdd0a2; fill:#fdd0a2; transition: fill .1s ease;}
.b3.color_orange { background-color: #fdae6b; fill:#fdae6b; transition: fill .1s ease;}
.b4.color_orange { background-color: #fd8d3c; fill:#fd8d3c; transition: fill .1s ease;}
.b5.color_orange { background-color: #f16913; fill:#f16913; transition: fill .1s ease;}
.b6.color_orange { background-color: #d94801; fill:#d94801; transition: fill .1s ease;}
.b7.color_orange { background-color: #a63603; fill:#a63603; transition: fill .1s ease;}
.b8.color_orange { background-color: #7f2704; fill:#7f2704; transition: fill .1s ease;}

/*blue*/
.b0.color_blue { background-color: #f7fbff; fill:#f7fbff; transition: fill .1s ease;}
.b1.color_blue { background-color: #deebf7; fill:#deebf7; transition: fill .1s ease;}
.b2.color_blue { background-color: #c6dbef; fill:#c6dbef; transition: fill .1s ease;}
.b3.color_blue { background-color: #9ecae1; fill:#9ecae1; transition: fill .1s ease;}
.b4.color_blue { background-color: #6baed6; fill:#6baed6; transition: fill .1s ease;}
.b5.color_blue { background-color: #4292c6; fill:#4292c6; transition: fill .1s ease;}
.b6.color_blue { background-color: #2171b5; fill:#2171b5; transition: fill .1s ease;}
.b7.color_blue { background-color: #08519c; fill:#08519c; transition: fill .1s ease;}
.b8.color_blue { background-color: #08306b; fill:#08306b; transition: fill .1s ease;}

/*red*/
.b0.color_red { background-color: #fff5f0; fill:#fff5f0; transition: fill .1s ease;}
.b1.color_red { background-color: #fee0d2; fill:#fee0d2; transition: fill .1s ease;}
.b2.color_red { background-color: #fcbba1; fill:#fcbba1; transition: fill .1s ease;}
.b3.color_red { background-color: #fc9272; fill:#fc9272; transition: fill .1s ease;}
.b4.color_red { background-color: #fb6a4a; fill:#fb6a4a; transition: fill .1s ease;}
.b5.color_red { background-color: #ef3b2c; fill:#ef3b2c; transition: fill .1s ease;}
.b6.color_red { background-color: #cb181d; fill:#cb181d; transition: fill .1s ease;}
.b7.color_red { background-color: #a50f15; fill:#a50f15; transition: fill .1s ease;}
.b8.color_red { background-color: #67000d; fill:#67000d; transition: fill .1s ease;}

/*dem*/
.b0.vote1 { background-color: #f7fbff; fill:#f7fbff; transition: fill 1s ease; }
.b1.vote1 { background-color: #deebf7; fill:#deebf7; transition: fill 1s ease; }
.b2.vote1 { background-color: #c6dbef; fill:#c6dbef; transition: fill 1s ease; }
.b3.vote1 { background-color: #9ecae1; fill:#9ecae1; transition: fill 1s ease; }
.b4.vote1 { background-color: #6baed6; fill:#6baed6; transition: fill 1s ease; }
.b5.vote1 { background-color: #4292c6; fill:#4292c6; transition: fill 1s ease; }
.b6.vote1 { background-color: #2171b5; fill:#2171b5; transition: fill 1s ease; }
.b7.vote1 { background-color: #08519c; fill:#08519c; transition: fill 1s ease; }
.b8.vote1 { background-color: #08306b; fill:#08306b; transition: fill 1s ease; }

/*rep*/
.b0.vote0 { background-color: #fff5f0; fill:#fff5f0; transition: fill 1s ease; }
.b1.vote0 { background-color: #fee0d2; fill:#fee0d2; transition: fill 1s ease; }
.b2.vote0 { background-color: #fcbba1; fill:#fcbba1; transition: fill 1s ease; }
.b3.vote0 { background-color: #fc9272; fill:#fc9272; transition: fill 1s ease; }
.b4.vote0 { background-color: #fb6a4a; fill:#fb6a4a; transition: fill 1s ease; }
.b5.vote0 { background-color: #ef3b2c; fill:#ef3b2c; transition: fill 1s ease; }
.b6.vote0 { background-color: #cb181d; fill:#cb181d; transition: fill 1s ease; }
.b7.vote0 { background-color: #a50f15; fill:#a50f15; transition: fill 1s ease; }
.b8.vote0 { background-color: #67000d; fill:#67000d; transition: fill 1s ease; }

/* For hovered paths */
.path-hovered {
  transition: fill .02s ease !important;
}